*{
    font-family: 'Times New Roman', Times, serif;
}


p{
    text-align: justify;
}

body{

background-image: linear-gradient(to right, #8AA6A3, #BFBFBF);

}

main{

background-color: #4c595849 ;
margin: auto;
width: 500px;
padding: 10px;
border-radius: 30px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.253);
}


h1{
color: #10403B;
text-align: center;


}

h2{
    color:#127369;
    
}